/* Styles des divisions principales de la page */

/* ~~~~~~~~~~~~~~AFFICHAGE NORMAL~~~~~~~~~~~~~~ */
/* GLOBAL */
body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	min-width: 320px;
	margin: auto;
	font-family: 'Helvetica', 'Arial', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

ul {
	padding-left: 2.5rem;
}

input {
	font-family: 'Helvetica', 'Arial', sans-serif;
}

/* HEADER */
header {
	display: flex;
	flex: none;
	background-color: #3C47AC;
}

#logo {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: none;
	width: 275px;
	box-sizing: border-box;
	padding: 0.625rem;
}

#logo img {
	display: block;
	height: 5.625rem;
}

#titre {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 0.625rem;
}

#titre h1 {
	color: #EEEEEE;
	text-align: center;
	font-style: italic;
}

/* MAIN */
main {
	display: flex;
	flex: 1 0 auto;
}

fieldset {
	margin: 0;
	padding: 0.9375rem;
	border: none;
	border-radius: 0.3125rem;
	background-color: #9A9BF4;
}

legend {
	padding: 0.625rem;
	background-color: #9A9BF4;
	border-radius: 0.3125rem 0.3125rem 0 0;
	text-decoration: underline;
	font-weight: bold;
}

#menu-toggle {
	display: none;
	padding: 0.625rem;
	background-color: #343C96;
}

#menu-toggle-button {
	cursor: pointer;
	width: 100%;
	padding: 0.375rem;
	border: none;
	border-radius: 0.3125rem;
	background-color: #DDDDDD;
	color: #333333;
	font-size: 1.125rem;
	font-weight: bold;
}

#menu-toggle-button:hover {
	background-color: #AAAAAA;
	color: #000000;
}

#menu {
	flex: none;
	width: 275px;
	box-sizing: border-box;
	padding: 1.5625rem;
	background-color: #7A7A7A;
}

#menu > ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#menu > ul > li {
	margin-bottom: 1.5625rem;
}

#menu > ul > li:last-child {
	margin-bottom: 0;
}

#utilisateur-nav {
	padding: 0.9375rem;
	list-style-type: none;
	background-color: #9A9BF4;
	border-radius: 0.3125rem;
}

#utilisateur-nav li {
	margin-bottom: 0.625rem;
}

#utilisateur-nav li:last-child {
	margin-bottom: 0;
}

#utilisateur-infos {
	text-align: center;
	font-size: 1.125rem;
	font-weight: bold;
}

.utilisateur-link {
	display: block;
	padding: 0.375rem;
	background-color: #DDDDDD;
	border-radius: 0.3125rem;
	color: #333333;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
}

.utilisateur-link:hover {
	background-color: #AAAAAA;
	color: #000000;
}

.utilisateur-deconnexion {
	background-color: #FF7C66;
}

.utilisateur-deconnexion:hover {
	background-color: #DA3C3B;
}

.menu-link {
	display: block;
	padding: 0.9375rem;
	background-color: #DDDDDD;
	border-radius: 0.3125rem;
	color: #333333;
	text-align: center;
	text-decoration: none;
	font-size: 1.125rem;
	font-weight: bold;
}

.menu-link:hover {
	background-color: #AAAAAA;
	color: #000000;
}

#contenu {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 1.5625rem;
	overflow: auto;
	box-shadow: -0.0625rem 0.0625rem 0.625rem 0.3125rem rgba(0, 0, 0, 0.3) inset;
}

#vue {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	border-radius: 0.3125rem;
	background-color: #CDD0F7;
}

#vue-nav {
	padding: 0.9375rem;
	font-size: 0.9375rem;
}

#vue-nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#vue-nav li {
	display: inline;
}

#vue-nav li + li:before {
	content: '/ ';
}

#vue-titre {
	padding: 0.9375rem;
	background-color: #9A9BF4;
}

#vue-titre h2 {
	font-size: 1.125rem;
}

#vue-contenu {
	display: flex;
	flex-direction: column;
	padding: 1.25rem;
}

#vue-contenu > div {
	margin-bottom: 1.25rem;
	overflow: auto;
}

#vue-contenu > div:last-child {
	margin-bottom: 0;
}

.notify {
	display: flex;
	justify-content: space-between;
	padding: 0.9375rem;
	border-radius: 0.3125rem;
}

.notify-close {
	align-self: flex-start;
	cursor: pointer;
	margin-left: 0.9375rem;
}

.notify-error {
	background-color: #FF7C66;
}

.notify-success {
	background-color: #67CD5D;
}

#page-erreur {
	text-align: center;
	font-size: 1.5rem;
}

#connexion {
	display: flex;
	justify-content: center;
	flex: 1 0 auto;
}

#connexion .form-buttons-container .button {
	flex: 1 0 auto;
}

#w3c img {
	height: 1.9375rem;
	width: 5.5rem;
}

#elements-forfaitises table.liste-legere .action {
	width: 25%;
}

#fiche-frais-total p {
	margin: 0;
	font-size: 1.125rem;
	font-weight: bold;
}

table.liste-legere {
	width: 100%;
	border-collapse: collapse;
	white-space: nowrap;
	font-size: 0.9375rem;
}

table.liste-legere caption {
	margin: 1rem 0;
	text-align: left;
	font-size: 1rem;
	font-weight: bold;
}

table.liste-legere th {
	padding: 0.25rem;
	background-color: #7A7B91;
	border: 2px solid #32333D;
}

table.liste-legere td {
	background-color: #BABCDD;
	border: 2px solid #32333D;
}

table.liste-legere .text {
	padding: 0;
}

table.liste-legere .action {
	padding: 0;
	background-image: repeating-linear-gradient(45deg, #32333D, #32333D 0.3125rem, #BABCDD 0.3125rem, #BABCDD 0.625rem);
}

table.liste-legere .transparent {
	width: 1.25rem;
	padding: 0;
	background-color: transparent;
	border: none;
}

table.liste-legere .align-center {
	text-align: center;
}

table.liste-legere .align-left {
	text-align: left;
}

table.liste-legere .align-right {
	text-align: right;
}

table.liste-legere .invalid {
	background-color: #FF7C66;
}

table.liste-legere .valid {
	background-color: #67CD5D;
}

table.liste-legere .cell-text {
	display: block;
	padding: 0.25rem;
}

table.liste-legere .cell-input {
	width: 100%;
	box-sizing: border-box;
	padding: 0.25rem;
	border: none;
	font-size: 0.9375rem;
}

table.liste-legere .cell-input:hover {
	background-color: #FAFAE6;
}

table.liste-legere .cell-input::-ms-clear {
	display: none;
}

table.liste-legere .cell-link {
	display: block;
	box-sizing: border-box;
	padding: 0.25rem;
	background-color: #4750CB;
	color: #EEEEEE;
	text-decoration: none;
	font-weight: bold;
}

table.liste-legere .cell-link:hover {
	background-color: #343C96;
}

table.liste-legere .cell-link:active {
	background-color: #5964FF;
}

table.liste-legere .checkbox-custom {
	display: flex;
	cursor: pointer;
	height: 1.25rem;
	width: 1.25rem;
	box-sizing: border-box;
	margin-right: 0.25rem;
	background-color: #FFFFFF;
	border: 2px solid #32333D;
}

table.liste-legere .checkbox-custom:hover {
	background-color: #FAFAE6;
}

table.liste-legere .checkbox:checked + .checkbox-custom:after {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	content: '✓';
}

.form-list p {
	display: flex;
	align-items: center;
}

.form-label {
	display: block;
	flex: none;
	padding: 0.25rem 0;
	font-weight: bold;
}

.label-small, .input-small {
	width: 7.8125rem;
}

.label-medium, .input-medium {
	width: 14.0625rem;
}

.label-large, .input-large {
	width: 20.3125rem;
}

.form-buttons-container .button {
	margin: 0;
}

.form-buttons-container .button + .button {
	margin-left: 0.625rem;
}

.checkbox {
	display: none;
}

.input {
	box-sizing: border-box;
	padding: 0.25rem;
	border: 2px solid #32333D;
	font-size: 0.9375rem;
}

.input:hover {
	background-color: #FAFAE6;
}

.input::-ms-clear {
	display: none;
}

.input-monnaie {
	position: relative;
}

.input-monnaie:after {
	position: absolute;
	content: "€";
	transform: translateY(-50%);
	top: 50%;
	right: 0.25rem;
}

.button, .ui-datepicker-trigger {
	cursor: pointer;
	margin: 0.625rem;
	padding: 0.25rem 0.5rem;
	border: none;
	background-color: #4750CB;
	color: #EEEEEE;
	font-size: 0.9375rem;
	font-weight: bold;
}

.ui-datepicker-trigger {
	margin: 0 0 0 0.25rem;
	padding: 0.25rem;
	font-weight: normal;
}

.button:hover, .ui-datepicker-trigger:hover {
	background-color: #343C96;
}

.button:active, .ui-datepicker-trigger:active {
	background-color: #5964FF;
}

.button-upload {
	cursor: pointer;
	padding: 0.25rem 0;
	font-size: 0.9375rem;
}

.link {
	color: #4750CB;
	text-decoration: none;
}

.link:hover {
	color: #343C96;
	text-decoration: underline;
}

.note {
	font-size: 0.9375rem;
	font-style: italic;
}

.refus {
	color: #DA3C3B;
	font-weight: bold;
}

/* FOOTER */
footer {
	display: flex;
	flex: none;
	height: 5rem;
	background-color: #424242;
}

#block {
	flex: none;
	width: 275px;
	background-color: #7A7A7A;
}

#copyright {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 0.625rem;
}

#copyright p {
	margin: 0;
	color: #EEEEEE;
	text-align: center;
	font-size: 0.8125rem;
	font-weight: bold;
}

/* ~~~~~~~~~~~~~~AFFICHAGE RESPONSIVE~~~~~~~~~~~~~~ */
@media screen and (min-width: 961px) {
	/* MAIN */
	#menu {
		display: block !important;
	}
	
	#contenu {
		display: flex !important;
	}
}

@media screen and (max-width: 960px) {
	/* GLOBAL */
	html {
		font-size: 85%;
	}
	
	/* HEADER */
	#logo {
		width: auto;
	}
	
	/* MAIN */
	main {
		flex-direction: column;
	}
	
	#menu-toggle {
		display: inherit;
	}
	
	#menu {
		display: none;
		flex: 1 0 auto;
		width: 100%;
	}
	
	#contenu {
		flex: 1 0 auto;
		padding: 0;
		box-shadow: none;
	}
	
	#vue {
		flex: 1 0 auto;
		border-radius: 0;
	}
	
	#vue-contenu {
		flex: 1 0 auto;
	}
	
	#elements-forfaitises table.liste-legere .action {
		width: inherit;
	}
	
	table.liste-legere tr {
		display: block;
		margin-bottom: 1rem;
	}
	
	table.liste-legere tr:last-child {
		margin-bottom: 0;
	}
	
	table.liste-legere th {
		display: none;
	}
	
	table.liste-legere td {
		display: flex;
		border-bottom: none;
	}
	
	table.liste-legere td:last-child {
		border-bottom: 2px solid #32333D;
	}
	
	table.liste-legere td:not(.transparent):before {
		width: 100px;
		box-sizing: border-box;
		padding: 0.25rem;
		content: attr(data-th);
		background-color: #707187;
		border-right: 2px solid #32333D;
		text-align: left;
		font-weight: bold;
	}
	
	table.liste-legere .cell-input {
		width: calc(100% - 100px);
	}
	
	table.liste-legere .cell-link {
		width: calc(100% - 100px);
	}
	
	table.liste-legere .checkbox-custom {
		margin-right: 0;
	}
	
	.form-list p:not(.form-buttons-container) {
		display: block;
	}
	
	/* FOOTER */
	#block {
		display: none;
	}
}

@media screen and (max-width: 480px) {
	/* GLOBAL */
	html {
		font-size: 70%;
	}
	
	/* MAIN */
	table.liste-legere td {
		border: 1px solid #32333D;
		border-bottom: none;
	}
	
	table.liste-legere td:last-child {
		border-bottom: 1px solid #32333D;
	}
	
	table.liste-legere td:not(.transparent):before {
		width: 82px;
		border-right: 1px solid #32333D;
	}
	
	table.liste-legere .cell-input {
		width: calc(100% - 82px);
	}
	
	table.liste-legere .cell-link {
		width: calc(100% - 82px);
	}
	
	table.liste-legere .checkbox-custom {
		border: 1px solid #32333D;
	}
	
	.input {
		border: 1px solid #32333D;
	}
}